# Server Configuration
PORT=3000
NODE_ENV=development

# Security & CORS Configuration
# Set your allowed client origins (comma-separated if multiple)
CORS_ORIGIN=http://localhost:5173

# Logging Config (options: error, warn, info, http, debug)
LOG_LEVEL=info
